#!/bin/zsh
#{{{ Aliases
alias grep='nocorrect grep -i'
alias egrep='nocorrect egrep -i'
alias convert='nocorrect convert'
alias mv='nocorrect mv -i'
alias cp='nocorrect cp -i'
alias mkdir='nocorrect mkdir'
alias echo='nocorrect echo'
alias rm='nocorrect rm'
alias locate='nocorrect locate -i'
alias eix='nocorrect noglob eix'
alias git='nocorrect noglob git'

alias tmux='TMUX= tmux'
alias ls='ls --color=auto -h'
alias du='du -h'
alias df='df -h'
alias ex='rlwrap ex'
alias ocaml='rlwrap ocaml'
alias rcp='cp -r'
alias rscp='scp -r'
alias qiv='qiv -tm'
alias alpine='alpine -p "{imap.gmail.com/ssl/user=balicki.aleksander@gmail.com}remote_pinerc"'
alias vncviewer='vncviewer -DotWhenNoCursor=0'
alias gist='gist -o -p'
alias pgrep='pgrep -fl'

alias i='tmux attach -t irc'
alias m='tmux attach -t mail'
alias t='transmission-remote'
alias scpresume="rsync --partial --progress --rsh=ssh"
alias du1='du --max-depth=1'
alias fresh='ls -lrt'
alias noemptylines='grep -v "^[ \t]*$"'
alias nocomments='grep -v "^[\t ]*#"'
alias open='xdg-open'
alias pgrep='pgrep -fl'
alias vm='kdesu virt-manager'
alias eng2pl='translate -d pl -s en'
alias pl2eng='translate -s pl -d en'
alias eng2pol='translate -d pl -s en'
alias pol2eng='translate -s pl -d en'
alias dpaste='wgetpaste -s dpaste'
alias codepad='wgetpaste -s codepad'

if [ "`hostname`" = "adeli" ]
then
	alias blueoff='echo 0 > /sys/devices/platform/thinkpad_acpi/bluetooth_enable'
	alias blueon='echo 1 > /sys/devices/platform/thinkpad_acpi/bluetooth_enable'
	alias hibernate='su -c pm-hibernate'
	alias hi='su -c pm-hibernate'
	alias suspend='su -c pm-suspend'
elif [ "`hostname`" = "bialobrewy" ]
then
	alias thps3='cd ~/.wine/drive_c/Program\ Files/Activision/Thps3 && wine Skate3.exe && cd -'
	alias dow='cd /windows/c/Program\ Files/THQ/Dawn\ of\ War\ -\ Dark\ Crusade/ && wine DarkCrusade.exe 1>/dev/null 2>/dev/null && cd -'
fi
#}}}
#{{{ Shell functions
def() {	wn "$*" -over } 
tmpinstall() { install -m 755 "$*" /srv/www/tmp/ }

torrent-ids() { grep -v 'ETA'| grep -v 'Sum:'| cut -c-4 | xargs commify }

torrent-load()
{

	for file in $*
	do
		transmission-remote -a $file 
	done
}

torrent-active() { transmission-remote -l | grep -v 'ETA'| grep -v 'Sum:'| grep -v 'Finished'| cut -c-4 | xargs commify }
torrent-finished() { transmission-remote -l | grep Finished | cut -c-4 | xargs commify }

loop()
{
	while true
	do 
		$@
	done
}
proxy()
{
	if [ $# -gt 1 ]; then
		ssh -f -N -D"$2" $1
	else
		ssh -f -N -D31337 $1
	fi
}
soundssh() { dd if=/dev/dsp | ssh -c arcfour -C $* dd of=/dev/dsp }
todo()
{ 
	if [ "$*" ]; then
		echo "$*" >> ~/.todo
	else
		cat ~/.todo
	fi
}
screenshot(){
	local FILE OUTPUT
	FILE=`mktemp /tmp/shotXXXX.png`
	if [ "$*" ]; then
		OUTPUT=`scrot "$*" $FILE`
	else
		OUTPUT=`scrot $FILE`
	fi
	xsel -c
	imgur $FILE 2>/dev/null|xclip
	xclip -o
	rm $FILE
}
#}}}
