#!/bin/zsh
#{{{ Aliases
alias grep='nocorrect grep -i --color'
alias egrep='nocorrect egrep -i --color'
alias mv='nocorrect mv -i'
alias cp='nocorrect cp -i'
alias mkdir='nocorrect mkdir'
alias echo='nocorrect echo'
alias rm='nocorrect rm'
alias locate='nocorrect locate'
alias eix='nocorrect noglob eix'
alias git='nocorrect noglob git'

alias tmux='TMUX= tmux'
alias ls='ls --color=auto -h'
alias du='du -h'
alias df='df -h'
alias ex='rlwrap ex'
alias mplayer='mplayer -softvol -softvol-max 800 -volstep 1'
alias rcp='cp -r'
alias rscp='scp -r'
alias qiv='qiv -tm'
alias i='tmux attach -t irc'
alias m='tmux attach -t mail'
alias t='tmux'
alias scpresume="rsync --partial --progress --rsh=ssh"
alias du1='du -h --max-depth=1'
alias fresh='ls -lrt'
alias noemptylines='grep -v "^$"'
alias nocomments='grep -v "^[\t ]*#"'
alias alpine='alpine -p "{imap.gmail.com/ssl/user=balicki.aleksander@gmail.com}remote_pinerc"'
alias vncviewer='vncviewer -DotWhenNoCursor=0'
alias gist='gist -o -p'
alias open='xdg-open'

if [ "`hostname`" = "adeli" ]
then
	alias blueoff='echo 0 > /sys/devices/platform/thinkpad_acpi/bluetooth_enable'
	alias blueon='echo 1 > /sys/devices/platform/thinkpad_acpi/bluetooth_enable'
	alias hibernate='su -c pm-hibernate'
	alias hi='su -c pm-hibernate'
	alias suspend='su -c pm-suspend'
elif [ "`hostname`" = "bialobrewy" ]
then
	alias thps3='cd ~/.wine/drive_c/Program\ Files/Activision/Thps3 && wine Skate3.exe && cd -'
	alias dow='cd /windows/c/Program\ Files/THQ/Dawn\ of\ War\ -\ Dark\ Crusade/ && wine DarkCrusade.exe 1>/dev/null 2>/dev/null && cd -'
fi
#}}}
#{{{ Shell functions
def()
{
	wn "$*" -over
} 
tmpinstall()
{
	install -m 755 "$*" /srv/www/tmp/
}
loop()
{
	while true
	do 
		$@
	done
}
proxy()
{
	if [ $# -gt 1 ]; then
		ssh -f -N -D"$2" $1
	else
		ssh -f -N -D31337 $1
	fi
}
soundssh()
{
	dd if=/dev/dsp | ssh -c arcfour -C $* dd of=/dev/dsp
}
todo(){
	grep "$*" ~/.todo
}
todoadd(){
	echo "$*" >> ~/.todo
}
#}}}
