[^\.]*
.serverauth.*
.pine-debug*
.cv*
.zcompdump
.xsession-errors
.xsel.log
.wallpaper
.todo
.pinepwd
.gitconfig
.viminfo
.Xauthority
.ab*
.fb
.history
.keys
.java
.vim
.wine
.router.cfg
.dmrc
.lesshst
.mcoprc
.msgid.cache
.recently-used.xbel
.rnd
.xscreensaver
.pulse-cookie
