[user]
	name = Aleksander Balicki
	email = balicki.aleksander@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	showbranch = auto
	ui = true
	pager = true
	grep = true
[core]
	editor = vim
	pager = less
[merge]
	tool = vimdiff
