[^\.]*
.serverauth.*
.pine-debug*
.cv*
.zcompdump
.xsession-errors
.xsel.log
.wallpaper
.todo
.pinepwd
.gitconfig
.viminfo
.Xauthority
.ab*
.fb
.history
.keys
.java
.vim
.wine
.router.cfg
.dmrc
.lesshst
.mcoprc
.msgid.cache
.recently-used.xbel
.rnd
.xscreensaver
.pulse-cookie
.bugz_cookie
.pine-crash
.swp
.ocaml_history
.scanview.cfg
.dosbox-data/
.ex_history
.fonts.conf
.freeciv*
.liquidwarrc
